In [1]:
#import all modules here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [18]:
df = pd.read_csv('SPECT.train',header=None)
features = df.loc[:,df.columns!=0]
label = df[0]
features.head()

,1,2,3,4,5,6,7,8,9,10,...,13,14,15,16,17,18,19,20,21,22
0,0,0,0,1,0,0,0,1,1,0,...,1,1,0,0,0,0,0,0,0,0
1,0,0,1,1,0,0,0,1,1,0,...,1,1,0,0,0,0,0,0,0,1
2,1,0,1,0,1,0,0,1,0,1,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
4,0,0,0,0,0,0,0,1,0,0,...,1,0,1,1,0,0,0,0,0,0

In [23]:
%matplotlib qt  
def plot_Elbow(features):
    sse = {}
    for no_of_cluster in range(2,50):
        kmeans = KMeans(n_clusters=no_of_cluster).fit(features)
        sse[no_of_cluster] = kmeans.inertia_
    plt.figure()
    plt.plot(list(sse.keys()), list(sse.values()))
    plt.xlabel("Number of cluster")
    plt.ylabel("SSE")
    plt.show()

In [24]:
plot_Elbow(features)